.select {
  cursor: pointer;

  &__options-list {
    padding: 0;
    margin: 8px 0 0 0;
    border: 1px solid #ced4da;
    border-radius: 4px;
    max-height: 250px;
    overflow-y: auto;
  }

  &__option {
    padding: 8px;
    margin-bottom: 6px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    list-style: none;
    cursor: pointer;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      background-color: #e8e8e8;
    }
  }
}
